@use "styles/variables" as *;
@use "styles/reset";
@use "styles/typography";
@use "styles/mixins" as *;
@use "@angular/material" as mat;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@include mat.core();

$afnoghar-primary: mat.m2-define-palette(mat.$m2-teal-palette, 600);
$afnoghar-accent: mat.m2-define-palette(mat.$m2-deep-orange-palette, 400);
$afnoghar-warn: mat.m2-define-palette(mat.$m2-red-palette);

$afnoghar-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $afnoghar-primary,
      accent: $afnoghar-accent,
      warn: $afnoghar-warn,
    ),
    typography: mat.m2-define-typography-config(
        $font-family: "Inter, sans-serif",
      ),
  )
);

@include mat.all-component-themes($afnoghar-theme);

// Global
html,
body,
app-root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background;
}
app-buyer-map-search {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$navbar-height});
  overflow: hidden;
}
